<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description}} <a href="https://www.eecs.tu-berlin.de/menue/studium_und_lehre/studiengaenge/medieninformatik/master/"> (in German: Medieninformatik an der Humboldt-Universität zu Berlin).</a> I am looking for a great job opportunity to gain more programming skills, developing myself with current technologies and I am open for working on a team. Send me an email!</p>

  </div>
</div>